.ipynb_checkpoints
.DS_Store
__pycache__



# Pour moi (Thibault), ignorer les fichiers des dataset brut directement télécharger du web
data/MovieSummaries/
data/name.basics.tsv
data/title.basics.tsv
data/title.crew.tsv
data/title.ratings.tsv