datasets==2.18.0
transformers==4.39.3
sentencepiece==0.2.0
scipy==1.13.0
matplotlib==3.8.4
wandb==0.17.2
numpy
pandas
requests
beautifulsoup4
tqdm
urllib3
astor
re
python-louvain
community
networkx
seaborn
pickle5
time
datetime
plotly
scikit-learn